@charset "utf-8";html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{width:100%;min-height:100vh;vertical-align:baseline;word-wrap:break-word;color:#282a2d;background:#f9f9f9;transition:background-color .3s}
body,button,form,h4,input{font-family:"SF Pro SC","SF Pro Text","SF Pro Icons",PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}
body,html{height:100%;margin:0;padding:0;border:0}
a{color:#282a2d;outline:0!important;text-decoration:none}
a:hover{text-decoration:none;color:#f1404b}
p{color:#1d232b;margin:0;white-space:normal;word-break:break-all}
.page-container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-direction:row;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row}
.page-container>.flex-fill{min-width:0}
.main-content{-ms-flex-direction:column;flex-direction:column;display:-ms-flexbox;display:flex}
.content-site{padding:0 30px;width:100%;margin-right:auto;margin-left:auto}
@media (min-width:1920px){.content-site{max-width:1900px}
}
@media (max-width:1919.98px){.content-site{max-width:1840px}
}
@media (max-width:1599.98px){.content-site{max-width:1540px}
}
@media (max-width:1399.98px){.content-site{max-width:1340px}
}
@media (max-width:1199.98px){.content-site{max-width:1140px}
}
@media (max-width:991.98px){.content-site{max-width:960px}
}
@media (max-width:767.98px){.content-site{max-width:720px}
.content-site{padding:0 15px}
}
@media (max-width:575.98px){.content-site{max-width:540px}
}
.text-xs{font-size:.75rem!important}
.text-sm{font-size:.875rem!important}
.text-lg{font-size:1.125rem!important}
@media (max-width:767.98px){.text-lg{font-size:1.125rem!important}
}
.text-gray{color:#555}
.overflowClip_1{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;word-break:break-all;display:-webkit-box!important;-webkit-line-clamp:1;-webkit-box-orient:vertical}
.overflowClip_1{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block!important}
.url-card .url-body{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.url-card .url-body:hover{transform:translateY(-6px);-webkit-transform:translateY(-6px);-moz-transform:translateY(-6px);box-shadow:0 26px 40px -24px rgba(0,36,100,.3);-webkit-box-shadow:0 26px 40px -24px rgba(0,36,100,.3);-moz-box-shadow:0 26px 40px -24px rgba(0,36,100,.3)}
.url-card .url-info{overflow:hidden;padding-right:5px}
.url-card .card-body{padding:.938rem}
.card{border-radius:10px}
.url-card .url-img{width:40px;height:40px;-webkit-box-flex:0;-ms-flex:none;flex:none;background:rgba(128,128,128,.1);overflow:hidden;background:#fff}
.url-card .url-img.rounded-circle{border-radius:20%!important}
.url-card .url-img>img{max-height:100%;vertical-align:unset}
footer.main-footer{padding:20px 30px;margin-top:0}
#footer-tools{position:fixed;bottom:20px;right:10px;display:flex}
#footer-tools .btn{color:#777;background:#eee;width:40px;height:40px;font-size:1rem;text-align:center;line-height:40px;padding:unset;display:block;border:unset}
#footer-tools .btn:hover{color:#444}
@media (max-width:767.98px){#footer-tools{bottom:15px;right:10px}
}
.btn:focus{outline:0;box-shadow:none}
.btn:not(.go-up){border-radius:3px;white-space:normal;font-size:.875rem}
.card{background:#fff;border-width:0;margin-bottom:1rem;box-shadow:0 0 20px -5px rgba(158,158,158,.2);transition:background-color .3s}
.form-control{font-size:.875rem;color:#6d6e74;border:1px solid #f1f3f6;background-color:#f1f3f6}
.form-control:focus{border:1px solid #f1f3f6;background-color:#f1f3f6;box-shadow:none}
.form-control::-webkit-input-placeholder{color:#888a8f;opacity:1}
.form-control::-moz-placeholder{color:#888a8f;opacity:1}
.form-control:-ms-input-placeholder{color:#888a8f;opacity:1}
.form-control::-ms-input-placeholder{color:#888a8f;opacity:1}
.form-control:disabled{background-color:#f1f3f6;opacity:1;color:#0d131b}
.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active{color:#fff;background-color:#f1404b;border-color:#f1404b}
.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus{box-shadow:none}
.btn-dark:not(:disabled):not(.disabled).active,.btn-dark:not(:disabled):not(.disabled):active{color:#fff;background-color:#000;border-color:#000}
.btn-dark:not(:disabled):not(.disabled).active:focus,.btn-dark:not(:disabled):not(.disabled):active:focus{box-shadow:none}
.custom-control-input:not(:disabled):active~.custom-control-label::before{background-color:rgba(241,64,76,.15);border-color:rgba(241,64,76,.15)}
.custom-control-input:focus:not(:checked)~.custom-control-label::before{border-color:#f1404b}
@media (min-width:1200px){.col-xl-5a{flex:0 0 20%;max-width:20%}
}
@media (min-width:1680px){.col-xxl-6a{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
}
@media (min-width:768px) and (max-width:991.98px){.row{margin-right:-.75rem;margin-left:-.75rem}
}
@media (max-width:767.98px){.row{margin-right:-.625rem;margin-left:-.625rem}
.row>[class*=col-]{padding-right:.625rem;padding-left:.625rem}
}
#search{max-width:800px;position:relative}
#search form{position:relative}
#search-text{z-index:inherit;padding:9pt;height:50px;font-size:1pc;border:0;border-radius:3px;background-color:#fff;transition:.3s}
#search button{position:absolute;top:0;right:0;background:#313437;border:0;width:60px;height:36px;margin:7px 9pt 0;line-height:36px;border-radius:3px}
#search button:hover{background:#000;cursor:pointer}
@media screen and (max-width:767.98px){#search{margin:25px auto 15px}
}
.header-big{position:relative;margin-top:-75px;padding-top:120px;padding-bottom:60px}
.header-big.css-img{background-color:#1b1d1f;background-size:cover;background-position:cover}
.header-big .s-search{margin:0 15px}
.header-big #search-text{border-radius:50px;color:#fff;border:1px solid rgba(255,255,255,.05);padding:9px 20px;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);background-color:rgba(0,0,0,.6)!important}
.header-big #search button{position:absolute;top:0;right:0;background:0 0;border:0!important;width:unset;height:unset;margin:0 9px;line-height:50px;border-radius:3px;cursor:url(/image/S2.cur),pointer}
.header-big #search button:active,.header-big #search button:focus{box-shadow:none;outline:0;border:0!important}
.header-big .canvas-bg{position:absolute;top:0;width:100%;height:100%;border-width:0}
@media screen and (min-width:768px){.header-big{padding-top:170px;padding-bottom:110px}
.header-big .s-search{margin:0}
}
@media only screen and (min-device-width:768px){::-webkit-scrollbar-thumb{background-color:rgba(130,130,130,.5);-webkit-border-radius:0;border-radius:0}
::-webkit-scrollbar-thumb:hover{background-color:#f1404b;-webkit-border-radius:0;border-radius:0}
::-webkit-scrollbar{width:5px;height:5px}
::-webkit-scrollbar-thumb:active{background-color:#f1404b;-webkit-border-radius:0;border-radius:0}
::-webkit-scrollbar-corner{background:rgba(0,0,0,0);border-radius:0 0 8px 0}
::-webkit-scrollbar-button{background-color:rgba(0,0,0,0);height:2px;width:2px}
}
::-webkit-scrollbar{display:none}
@media screen and (min-width:991px) and (max-width:1199px){.col-md-4{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
}

/** 普通指针样式**/
body {cursor: url(/image/S1.cur), default;}
/** 链接指针样式**/
a:hover{cursor:url(/image/S2.cur), pointer;}